<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="side_bar">
  <div class="side-header">
    <a class="username" th:href="@{/users/{userId}/edit(userId=${user.id})}" th:text="${user.name}">ユーザー名</a>
    <a class="create-room" th:href="@{/rooms/new}">チャット作成</a> 
  </div>
  <div class="rooms">
    <div th:each="room : ${rooms}" class="room">
      <div class="room-name">
        <a th:href="@{rooms/{roomId}/messages (roomId=${room.id})}" th:text="${room.name}"></a>
      </div>
    </div>
  </div>
</div>
</html>